body {
    padding: 0.5em;
    background-color: #f2f0f0;
    font-family: 'Verdana', Arial, sans-serif;
}

main {
    padding-top: 1em;
}

.container-fluid {
    max-width: 1200px;
}

header, footer {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    background-color: rgba(44, 103, 57, 0.205);
    padding: 1em;
    border-radius: 5px;
}

.navbar-toggler {
    position: absolute;
    top: 0px;
    right: 0px;
}

h2, h3, h4 {
    color: rgb(44, 103, 57);
    font-weight: bold;
}

a {
    text-decoration: none;
}

.carousel {
    border-radius: 5px;
    overflow: hidden;
}

.bold-center {
    padding-top: 2em;
    font-weight: bold;
    text-align: center;
}
